*{
    padding: 0;
    margin: 0;
}

.d1{
   
    display: grid;
    grid-template-columns: 1fr 1fr ;
    border: 3px solid black;
    margin: 50px 50px;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
}



.d2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.d2 p{
    font-size: 20px;
}

.d2 span{
    font-size: 60px;
    padding-left: 80px;
}


.d3 p{
    background-color: black;
    color: white;
    width: 200px;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
}

.d3 ul{
    padding-top: 20px;
    list-style: none;
    font-size: 25px;
    display: flex;
    gap: 20px;
}